table
{width: 50%;
    margin: auto;
}
table ,th,tr,td
{border: solid black 0.1em;
border-collapse: collapse; 
text-align: center; 
padding: 0.5em 1em; }

th
{background-color: gray;
}
tr
{background-color: beige;}

.form 
{border: 0.2em  black solid; 
background-color: rgba(49, 59, 12, 0.342); 
width: 50%;
margin: auto;
padding: 1em; }
h3
{display: inline;}
button
{cursor: pointer; padding: 1em;
margin: 1em;
border-radius: 0.5em;
}

#reset
{background-color: red;}
#send
{background-color: green;}